node_modules
dist
coverage
.env
.env.*
**/.env
**/.env.*
.envrc
**/.envrc
backups
**/backups
*.dump
**/*.dump
*.dump.*
**/*.dump.*
*.ogg
**/*.ogg
*.tar
**/*.tar
*.age
**/*.age
rclone*.conf
**/rclone*.conf
*age-identity*
**/*age-identity*
*.pem
**/*.pem
*.key
**/*.key
*.log
**/*.log
.DS_Store
